@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@config "../../tailwind.config.mjs";

:root {
  font-family: 'Inter', sans-serif;
}
input {
  color: black !important;
}

body {
  min-height: 100vh;
  margin: 0;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
